<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <script trype="javascript">
      // window.location.href = "http://underhand.clanweb.eu/undercover_cultist";
      
    </script>
    <!-- COMMON TAGS -->
    <meta charset="utf-8" />
    <title>Undercover Cultist</title>
    <!-- Search Engine -->
    <meta
      name="description"
      content="An Underhand Discord bot which likes gooses and has friends on high posts. "
    />
    <meta
      name="image"
      content="https://cdn.glitch.com/038feac3-0a40-45ae-a1b4-36c61e017117%2F1580400742181.jpg?v=1586277573641"
    />
    <!-- Schema.org for Google -->
    <meta itemprop="name" content="Undercover Cultist Underhand Discord bot" />
    <meta
      itemprop="description"
      content="Build a Discord Bot on Glitch with this interactive install guide"
    />
    <meta
      itemprop="image"
      content="https://cdn.glitch.com/038feac3-0a40-45ae-a1b4-36c61e017117%2F1580400742181.jpg?v=1586277573641"
    />
    
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="https://cdn.glitch.com/038feac3-0a40-45ae-a1b4-36c61e017117%2F1580400742181.jpg?v=1586277573641" />
    <link rel="stylesheet" href="views/style.css" />

    <!-- import the webpage's client-side javascript file -->
    <script src="/public/client.js" defer></script>
  </head>

  <body>
    <header>
      <img src="https://cdn.glitch.com/038feac3-0a40-45ae-a1b4-36c61e017117%2F1580400742181.jpg?v=1586277573641"
>      <h1>Undercover Cultist Discord bot</h1>
      
    </header>
    Official bot site is on this <a href="http://underhand.clanweb.eu/undercover_cultist">link</a>. This site is just to wake up the glitch project, because he's fucking lazy.

    
  </body>
</html>
